/*--------------------------- GLOBAL ---------------------------*/

*{font-family: "Century Gothic" ,verdana, sans-serif;}

body{background-color: #000;}

::-webkit-scrollbar{display: none;}

h1{font-size: 200%;}

p{font-size: 100%;}

div.chara{margin-top: 3em; width: auto; margin-bottom: 2em;}

div.chara img{width: 100%; height: auto;}

div.button{width: auto; height: auto;}

a.menu{text-decoration: none; color: #838383; position: absolute; transform: translate(-50%);}

a#menu1{left: 11%;}

a#menu2{left: 22%;}

a#menu3{left: 33%;}

a#menu4{left: 44%;}

a#menu5{left: 55%;}

a#menu6{left: 66%;}

a#menu7{left: 77%;}

a#menu8{left: 88%;}

span#menuEnglish a{text-decoration: none; font-weight: bold; color: #fff;}

span#menuFrench a{text-decoration: none; font-weight: bold; color: #fff;}

/*--------------------------- HOME ---------------------------*/

span#menuHome a{text-decoration: none; font-weight: bold; color: #fff;}

h1#name
{
    font-size: 500%;
    text-align: center;
    background-color: #033d9a;
    color: #fff;
}

div#title
{
    width: auto;
    margin-top: 5.5em;
}

div.octo
{
    text-align: center;
    width: auto;
}

div.octo img
{
    width: 18.5%;
}

/*--------------------------- NEWS ---------------------------*/

span#menuNews a{text-decoration: none; font-weight: bold; color: #fff;}

body#news p
{
    font-size: 100%;
}


/*--------------------------- ABOUT ---------------------------*/

span#menuAbout a{text-decoration: none; font-weight: bold; color: #fff;}

body#about h1
{
    font-size: 200%;
    color: #fff;
}

body#about p
{
    font-size: 100%;
    color: #fff;
}

body#about div.content
{
    margin-top: 2em;
    margin-bottom: 4%;
    width: 45%;
    position: absolute;
    left: 29%;
}

body#about div.content div
{
    height: 10em;
    position: relative;
    margin-bottom: 9%;
    background-color: #222;
}

body#about div.content h1
{
    position: relative;
    top: 30%;
    left: 1em;
}

body#about div.content p
{
    position: relative;
    top: 15%;
    left: 2.1em;
}

/*--------------------------- CONTACTS ---------------------------*/

span#menuContacts a{text-decoration: none; font-weight: bold; color: #fff;}

body#contacts h1
{
    font-size: 200%;
}

body#contacts p
{
    font-size: 100%;
}

div.members
{
    margin-top: 2em;
    width: 50%;
    position: absolute;
    left: 40%;
}

div.members *
{
    text-decoration: none;
    color: #fff;
    margin-bottom: 4%;
}

div.members h1,ul
{
    position: relative;
    top: 20%;
    left: 1em;
}

div#m1
{
    width: 40%;
    height: 9em;
    background-color: #012;
}

div#m2
{
    width: 70%;
    height: 9em;
    background-color: #201;
}

div#m3
{
    width: 50%;
    height: 9em;
    background-color: #120;
}

div#m4
{
    width: 60%;
    height: 9em;
    background-color: #102;
}
/*--------------------------- DOWNLOADS ---------------------------*/

a#menuDownloads
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 55%;
    transform: translate(-50%);
}

/*--------------------------- CREDITS ---------------------------*/

span#menuCredits a{text-decoration: none; font-weight: bold; color: #fff;}

body#credits p
{
    font-size: 100%;
}

body#credits div#unity
{
    text-align: center;
    width: 30%;
    height: 15%;
    position: absolute;
    top: 45%;
    left: 10%;
}

body#credits div#unity img
{
    width: 100%;
    height: auto;
}

body#credits div#ase
{
    text-align: center;
    width: 30%;
    height: 15%;
    position: absolute;
    top: 45%;
    right: 10%;
}

body#credits div#ase img
{

    width: 100%;
    height: auto;
}

/*--------------------------- ENGLISH ---------------------------*/

a#menuEnglish
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 77%;
    transform: translate(-50%);
}

/*--------------------------- FRENCH ---------------------------*/

a#menuFrench
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 88%;
    transform: translate(-50%);
}
