/* GLOBAL */

*
{
    font-family: "Century Gothic" ,verdana, sans-serif;
}

body
{
    background-color: #000;
}

::-webkit-scrollbar
{
    display: none;
}

h1
{
    font-size: 200%;
}

p
{
    font-size: 100%;
}

div.chara
{
    margin-top: 3em;
    width: auto;
    margin-bottom: 2em;
}

div.chara img
{
    width: 100%;
    height: auto;
}

div.button
{
    width: auto;
    height: auto;
}

a.menu
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    transform: translate(-50%);
}

a#menu1
{
    left: 11%;
}

a#menu2
{
    left: 22%;
}

a#menu3
{
    left: 33%;
}

a#menu4
{
    left: 44%;
}

a#menu5
{
    left: 55%;
}

a#menu6
{
    left: 66%;
}

a#menu7
{
    left: 77%;
}

a#menu8
{
    left: 88%;
}


/* HOME */

a#menuHome
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 11%;
    transform: translate(-50%);
}

h1#name
{
    font-size: 500%;
    text-align: center;
    background-color: #033d9a;
    color: #fff;
}

div#title
{
    width: auto;
    margin-top: 5.5em;
}

div.octo
{
    text-align: center;
    width: auto;
}

div.octo img
{
    width: 18.5%;
}

/* NEWS */

a#menuAbout
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 33%;
    transform: translate(-50%);
}

/* ABOUT */

a#menuAbout
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 33%;
    transform: translate(-50%);
}

div.content
{
    margin-top: 2em;
    margin-bottom: 4%;
    width: 45%;
    position: absolute;
    left: 29%;
}

div.content div
{
    height: 10em;
    position: relative;
    margin-bottom: 9%;
    background-color: #222;
}

div.content h1
{
    position: relative;
    top: 30%;
    left: 1em;
}

div.content p
{
    position: relative;
    top: 15%;
    left: 2.1em;
}

/* CONTACTS */

a#menuAbout
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 44%;
    transform: translate(-50%);
}

/* DOWNLOADS */

a#menuAbout
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 55%;
    transform: translate(-50%);
}

/*CREDITS */

a#menuAbout
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 66%;
    transform: translate(-50%);
}

/* ENGLISH */

a#menuEnglish
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 77%;
    transform: translate(-50%);
}

/* FRENCH */

a#menuFrench
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 88%;
    transform: translate(-50%);
}
