*
{
    font-family: "Century Gothic" ,verdana, sans-serif;
}

body
{
    background-color: #000;
    /* overflow: hidden; */
}

h1
{
    font-size: 200%;
}

p
{
    font-size: 100%;
}

div.chara
{
    margin-top: 3em;
    width: auto;
    margin-bottom: 2em;
}

div.chara img
{
    width: 100%;
    height: auto;
}

div.button
{
    width: auto;
    height: auto;
}

a#menu1
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 11%;
    transform: translate(-50%);
}

a#menu2
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 22%;
    transform: translate(-50%);
}

a#menu3
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 33%;
    transform: translate(-50%);
}

a#menu4
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 44%;
    transform: translate(-50%);
}

a#menu5
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 55%;
    transform: translate(-50%);
}

a#menu6
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 66%;
    transform: translate(-50%);
}

a#menu7
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 77%;
    transform: translate(-50%);
}

a#menu8
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 88%;
    transform: translate(-50%);
}

div.members
{
    margin-top: 2em;
    width: 50%;
    position: absolute;
    left: 40%;
}

div.members *
{
    text-decoration: none;
    color: #fff;
    margin-bottom: 4%;
}

div.members h1,ul
{
    position: relative;
    top: 20%;
    left: 1em;
}

div#m1
{
    width: 40%;
    height: 9em;
    background-color: #012;
}

div#m2
{
    width: 70%;
    height: 9em;
    background-color: #201;
}

div#m3
{
    width: 50%;
    height: 9em;
    background-color: #120;
}

div#m4
{
    width: 60%;
    height: 9em;
    background-color: #102;
}

div.pos
{
}

div.scroll
{
    margin-left: 95%;
    position: fixed;
    top: 50%;
    background-color: #fff;
    border-radius: 100% / 75%;
    width: 65px;
    height: 80px;
    box-shadow: -5px 0px 4px #555, 5px 0px 4px #555, 0px -5px 4px #555, 0px 5px  4px #555;
}

div.scroll img
{
    width: 50px;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
