*
{
    font-family: "Century Gothic" ,verdana, sans-serif;
}

body
{
    background-color: #000;
}

h1#name
{
    font-size: 500%;
    text-align: center;
    background-color: #033d9a;
    color: #000;
    margin-top: 10%;
}

div#english
{
    width: 20em;
    height: 9em;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

div#french
{
    width: 20em;
    height: 9em;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

a
{
    font-size: 300%;
    text-decoration: none;
    font-weight: bold;
    color: #838383;
    position: relative;
    top: 30%;
}
a.en
{
    left: 20%;
}

a.fr
{
    left: 23%;
}

div.language:hover
{
    background-color: #fff;
    color: #000;
}
