*
{
    font-family: "Century Gothic" ,verdana, sans-serif;
}

body
{
    background-color: #000;
}

h1
{
    font-size: 4.5em;
    
}

h1#name
{
    text-align: center;
    background-color: #033d9a;
    color: #fff;
}

div.english
{
    width: 5em;
}
