*
{
    font-family: "Century Gothic" ,verdana, sans-serif;
}

body
{
    background-color: #000;
}

h1
{
    font-size: 500%;
    text-align: center;
    background-color: #033d9a;
    color: #fff;
}

p
{
    font-size: 100%;
}

div.chara
{
    margin-top: 5em;
    width: auto;
    margin-bottom: 2em;
}

div.chara img
{
    width: 100%;
    height: auto;
}

div.button
{
    width: auto;
    height: auto;
}

div#title
{
    width: auto;
    margin-top: 5.5em;
}

a#menu1
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 11%;
    transform: translate(-50%);
}

a#menu2
{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 22%;
    transform: translate(-50%);
}

a#menu3
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 33%;
    transform: translate(-50%);
}

a#menu4
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 44%;
    transform: translate(-50%);
}

a#menu5
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 55%;
    transform: translate(-50%);
}

a#menu6
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 66%;
    transform: translate(-50%);
}

a#menu7
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 77%;
    transform: translate(-50%);
}

a#menu8
{
    text-decoration: none;
    color: #838383;
    position: absolute;
    left: 88%;
    transform: translate(-50%);
}
