* {font-family: "Century Gothic" ,verdana, sans-serif; text-decoration: none;}

*:focus {outline: none;}

body {margin: 0; padding: 0; background-color: #fff;}

::-webkit-scrollbar {display: none;}

h1 {font-size: 200%; color: #000;}

p {font-size: 100%; color: #000;}

div#back {
    width: 100px;
    height: auto;
    position: fixed;
    left: 13%;
    top: 50px;
    transition: 1.5s;
}

div#back img {
    width: 100px;
    height: auto;
}

@@keyframes arrow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-135deg);
    }
}

div#back:hover {
    transform: rotate(-135deg);
    transition: 1.5s;
}

div#txt {
    height: 100%;
    min-width: 300px;
    width: 70%;
    background-color: #eee;
    position: relative;
    left: 20%;
    margin-top: 50px;
}

div#txt * {
    position: relative;
    left: 1%;
    margin-right: 2%;
}

li {
    margin-top: 2em;
    margin-bottom: 3em;
}

div#trailer video#my-video {
    height: 10em;
    width: auto;
    position: relative;
    margin-top: 1em;

    left: 10%;
    transform: translate(-50%, -7%);
}
